{{define "title"}}
    {{.Data.Artist.Name}} Similar Albums
{{end}}
{{define "artist_menu"}}
    <div id="artist-header-menu">
        <div class="artist-header-menu-item">
            <a href="/artists?id={{.Data.Artist.Id}}">Artists</a>
        </div>
        <div class="artist-header-menu-item">Albums</div>
    </div>
{{end}}
{{define "content"}}
    {{$imageBaseUrl := "/image?id="}}
    {{$artistsBaseUrl := "/artists?id="}}
    <div id="content">
        {{template "artist_header" .}}
        <div id="recommendations-tab">
            {{if eq (len .Data.Recommendations) 0}}
                <div id="recommendations">
                    {{template "suggest_box" .}}
                </div>
            {{else}}
                <div id="recommendations-message">We have found albums from lesser known artists inspired by {{.Data.Artist.Name}}</div>
                <div id="recommendations">
                    {{range .Data.Recommendations}}
                        <div class="recommendation recommendation-artist-{{.Artist.Id}}">
                            <div class="recommendation-feedback">
                                <div class="feedback-input" data-album="{{.Id}}" data-recommendation-artist="{{$.Data.Artist.Id}}">
                                    <div class="feedback-icon feedback-negative-icon" style="display: none;"></div>
                                </div>
                                {{if not .ImageId.Valid}}
                                    <div class="recommendation-image image-placeholder"></div>
                                {{else}}
                                    <img class="recommendation-image" loading="lazy" src="{{$imageBaseUrl}}{{.ImageId.Int64}}" />
                                {{end}}
                            </div>
                            <div class="recommendation-album-label">
                                <div class="recommendation-album-name light-text">{{.Name}}</div>
                                <a class="recommendation-artist-name" href="/artists?id={{.Artist.Id}}">{{.Artist.Name}}</a>
                            </div>
                        </div>
                    {{end}}
                    {{template "suggestions_feedback" .}}
                </div>
            {{end}}
        </div>
    </div>
{{end}}
{{define "subheader"}}
    {{template "shortcuts" .}}
{{end}}
{{define "shortcuts_content"}}
    {{template "search_form"}}
{{end}}
{{define "scripts"}}
    <script src="/static/script/script.js"></script>
    <script src="/static/script/ui/artistMenu.js"></script>
    <script src="/static/script/ui/topTracksPlayer.js"></script>
    <script src="/static/script/ui/recommendations.js"></script>
    <script src="/static/script/ui/recommendationsFeedback.js"></script>
{{end}}
{{template "layout" .}}