<div class="recommendation recommendation-artist-{{.Data.Id}}">
    <div class="recommendation-feedback">
        {{if not .Data.ImageId.Valid}}
            <div class="recommendation-image image-placeholder"></div>
        {{else}}
            <img class="recommendation-image" loading="lazy" src="/image?id={{.Data.ImageId.Int64}}" />
        {{end}}
        <div class="recommendation-label">
            <a class="recommendation-artist-name" href="/artists?id={{.Data.Id}}">{{.Data.Name}}</a>
        </div>
    </div>
</div>
